{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Detail de la série {{ serie.name }}{% endblock %}

{% block body %}
    <h2>{{ serie.name }}</h2>

    <span class="badge bg-black">{{ serie.genres }}</span>
    <br>
    <img src="{{ asset('posters/series/' ~ serie.poster) }}">

    <p>{{ serie.overview }}</p>

    <dl>
        <dt>Date de lancement</dt>
        <dd>{{ serie.firstAirDate|date('d/m/Y') }}</dd>
        <dt>Status</dt>
        <dd>{{ serie.status }}</dd>
    </dl>

    <br>

    <a href="{{ path('app_serie_update', {'id' : serie.id}) }}" class="btn btn-primary">Editer</a>

    {# Methode simple = un lien #}
<!--    <a href="{{ path('app_serie_delete', {'id' : serie.id}) }}" class="btn btn-danger" onclick="return confirm('Etes-vous sur de supprimer cette série ?')">Supprimer</a>
-->

    <form method="POST" action="{{ path('app_serie_delete', {'id' : serie.id}) }}" onsubmit="return confirm('Etes-vous sur de supprimer cette série ?')">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ serie.id) }}">
        <button class="btn btn-danger">Delete</button>
    </form>

{% endblock %}