{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Series{% endblock %}

{% block body %}
    <section>
        <div class="flex_between">
            {%  if currentPage > 1 %}
                <a href="{{ path('app_serie_list', {'page': currentPage - 1}) }}">Previous page</a>
            {% endif %}
            <div> -- Page {{ currentPage }} -- </div>
            {% if currentPage < pagesMax %}
                <a href="{{ path('app_serie_list', {'page' : currentPage + 1}) }}">Next page</a>
            {% endif %}
        </div>
    </section>
    <section>
        {% for serie in series %}
            <a href="{{ path('app_serie_detail', {'id': serie.id}) }}"><img src="{{ asset('posters/series/' ~ serie.poster) }}" width="300px" loading="lazy" /></a>
        {% else %}
            <p>Pas de série</p>
        {% endfor %}
    </section>
{% endblock %}
